<div class="container">
    <h2 class="py-2">Desserts</h2>
    <div class="row g-5">
        @for(product of _catService.cart(); track product.id ) {
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 100%;">
                <!-- <img class="card-img-top" src="Images/card-image.svg" alt="Card image cap"> -->
                <img [src]="'Images/' + product.imageUrl" class="card-img-top" alt="prodImage">
                <div class="card-body">
                    <div class="card-title">{{product.name}}</div>
                    <div class="card-description"> {{product.description}}</div>
                    <div class="price">{{product.price | currency }}</div>
                    <div class="button-center mt-3">
                        <div *ngIf="!product.quantity" class="btn btn-cart" (click)="addToCart(product)">
                            <img src="Images/icon-add-to-cart.svg" alt="cart"> Add to Cart
                        </div>
                        <div *ngIf="product.quantity" class="btn-quantity-cart">
                            <i class="bi bi-dash-circle" (click)="removeQuant(product)"></i>
                            {{product.quantity}}
                            <i class="bi bi-plus-circle" (click)="addQuant(product)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        <!-- <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="card-image.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="card-image.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div> -->


    </div>

</div>
